@import "tailwindcss";
@plugin "@tailwindcss/typography";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-font: var(--font);
  --color-delete: var(--delete);
}

:root {
  --background: hsl(0 0% 85%);
  --foreground: hsl(0, 0%, 90%);
  --primary: hsl(98, 100%, 57%);
  --secondary: hsl(43, 100%, 57%);
  --font: hsl(0, 0%, 0%);
  --delete: hsl(0, 100%, 60%);
  font-family: "Roboto";
}

.dark {
  --background: hsl(0, 0%, 15%);
  --foreground: hsl(0, 0%, 50%);
  --primary: hsl(98, 100%, 37%);
  --secondary: hsl(43, 100%, 40%);
  --font: hsl(0, 0%, 90%);
  --delete: hsl(0, 100%, 40%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
