@import "tailwindcss";
@plugin "@tailwindcss/typography";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-font: var(--font);
  --color-delete: var(--delete);
}

:root {
  --background: #f1f1f1;
  --foreground: #ffffff;
  --primary: #80ff6f;
  --secondary: #ffca6f;
  --font: #000000;
  --delete: #ff5050;
  font-family: "Roboto";
}

.dark {
  --background: #040404;
  --foreground: hsl(0, 0%, 60%);
  --primary: hsl(113, 100%, 60%, 60%);
  --secondary: hsl(38, 100%, 60%, 60%);
  --font: #ffffff;
  --delete: hsl(0, 100%, 60%, 60%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
